<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" /> <!--import the style-->
  </head>

<body>
  
<div id="form">
<form method="post" action="/submit-form/"> <!--telling the form where to send user input-->

  <h2>Mick's One Click Messaging App powered by <a href="http://www.twilio.com/">Twilio</a> via <a href="https://twitter.com/mattmakai">Matt Makai</a>
  </h2>  
  
  <label>Please enter your (soon to be ex) friend's phone number (no spaces or other shenanigans please):</label><input type="text" name="number" size="40" />
  
  <p>
  <input type="submit" value="Send Message"  /> 
  </p>
  
</form>  
</div>

</body>
  
</html>